<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="org.treebolic.files.service"
          android:sharedUserId="org.treebolic.userId">

	<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

	<application
		android:allowBackup="true"
		android:fullBackupContent="@xml/backup_descriptor"
		android:icon="@mipmap/ic_launcher"
		android:label="@string/app_name"
		android:supportsRtl="true"
		android:theme="@style/MyTheme"
		tools:ignore="UnusedAttribute">

		<activity
			android:name=".MainActivity"
			android:label="@string/app_name">
			<intent-filter>
				<action android:name="android.intent.action.MAIN"/>
				<category android:name="android.intent.category.LAUNCHER"/>
			</intent-filter>
		</activity>

		<activity
			android:name=".SettingsActivity"
			android:label="@string/title_activity_settings"
			android:parentActivityName=".MainActivity"
			tools:targetApi="jelly_bean">
			<meta-data
				android:name="android.support.PARENT_ACTIVITY"
				android:value=".MainActivity"/>
		</activity>

		<activity
			android:name="org.treebolic.filechooser.FileChooserActivity"
			android:parentActivityName=".MainActivity"
			tools:targetApi="jelly_bean">
			<meta-data
				android:name="android.support.PARENT_ACTIVITY"
				android:value=".MainActivity"/>
		</activity>

		<service
			android:name=".TreebolicFilesIntentService"
			android:description="@string/description_service_intent_service"
			android:enabled="true"
			android:exported="true"
			android:icon="@mipmap/ic_launcher"
			android:label="@string/service_intent_service"
			android:permission="android.permission.READ_EXTERNAL_STORAGE"
			android:process="org.treebolic">
			<intent-filter>
				<action android:name="org.treebolic.service.action.MAKE_MODEL">
				</action>
			</intent-filter>
		</service>

		<service
			android:name=".TreebolicFilesAIDLBoundService"
			android:description="@string/description_service_aidl_bound_service"
			android:enabled="true"
			android:exported="true"
			android:icon="@mipmap/ic_launcher"
			android:label="@string/service_aidl_bound_service"
			android:permission="android.permission.READ_EXTERNAL_STORAGE"
			android:process="org.treebolic">
		</service>

		<service
			android:name=".TreebolicFilesMessengerService"
			android:description="@string/description_service_messenger_bound_service"
			android:enabled="true"
			android:exported="true"
			android:icon="@mipmap/ic_launcher"
			android:label="@string/service_messenger_bound_service"
			android:permission="android.permission.READ_EXTERNAL_STORAGE"
			android:process="org.treebolic">
		</service>

	</application>

</manifest>

