<?xml version="1.0" encoding="utf-8"?><!--
  ~ Copyright (c) Treebolic 2019. Bernard Bou <1313ou@gmail.com>
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	xmlns:tools="http://schemas.android.com/tools"
	android:sharedUserId="org.treebolic.userId"
	android:sharedUserMaxSdkVersion="32"
	tools:targetApi="tiramisu">

	<permission
		android:name="org.treebolic.wordnet.service.USE"
		android:label="Use service"
		android:protectionLevel="normal" />

	<uses-permission
		android:name="android.permission.READ_EXTERNAL_STORAGE"
		android:maxSdkVersion="32" />
	<uses-permission
		android:name="android.permission.WRITE_EXTERNAL_STORAGE"
		android:maxSdkVersion="18" />
	<uses-permission android:name="android.permission.ACCESS_DOWNLOAD_MANAGER" />
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.WAKE_LOCK" />
	<uses-permission android:name="org.treebolic.wordnet.service.USE" />

	<application
		android:allowBackup="true"
		android:dataExtractionRules="@xml/data_extraction_rules"
		android:fullBackupContent="@xml/backup_descriptor"
		android:icon="@mipmap/ic_launcher"
		android:label="@string/app_name"
		android:roundIcon="@mipmap/ic_launcher_round"
		android:theme="@style/MyTheme"
		tools:ignore="AllowBackup">

		<activity
			android:name=".MainActivity"
			android:exported="true">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>

		<activity
			android:name=".SettingsActivity"
			android:label="@string/title_activity_settings"
			android:parentActivityName=".MainActivity">
			<meta-data
				android:name="android.support.PARENT_ACTIVITY"
				android:value=".MainActivity" />
		</activity>

		<activity
			android:name=".QueryProviderActivity"
			android:exported="false"
			android:label="@string/title_activity_query_file_provider"
			android:parentActivityName=".MainActivity">
			<meta-data
				android:name="android.support.PARENT_ACTIVITY"
				android:value=".MainActivity" />
		</activity>

		<activity
			android:name=".DownloadActivity"
			android:exported="false"
			android:label="@string/title_activity_download"
			android:parentActivityName=".MainActivity">
			<meta-data
				android:name="android.support.PARENT_ACTIVITY"
				android:value=".MainActivity" />
		</activity>

		<activity
			android:name="com.bbou.others.OthersActivity"
			android:exported="false"
			android:parentActivityName=".MainActivity">
			<meta-data
				android:name="android.support.PARENT_ACTIVITY"
				android:value=".MainActivity" />
		</activity>

		<activity
			android:name="com.bbou.donate.DonateActivity"
			android:exported="false"
			android:parentActivityName=".MainActivity">
			<meta-data
				android:name="android.support.PARENT_ACTIVITY"
				android:value=".MainActivity" />
		</activity>

		<service
			android:name=".TreebolicWordNetIntentService"
			android:description="@string/description_service_intent_service"
			android:enabled="true"
			android:exported="true"
			android:icon="@mipmap/ic_launcher"
			android:label="@string/service_intent_service"
			android:permission="android.permission.BIND_JOB_SERVICE"
			android:process="org.treebolic">
			<intent-filter>
				<action android:name="org.treebolic.service.action.MAKE_MODEL" />
			</intent-filter>
		</service>

		<service
			android:name=".TreebolicWordNetAIDLBoundService"
			android:description="@string/description_service_aidl_bound_service"
			android:enabled="true"
			android:exported="true"
			android:icon="@mipmap/ic_launcher"
			android:label="@string/service_aidl_bound_service"
			android:permission="org.treebolic.wordnet.service.USE"
			android:process="org.treebolic" />

		<service
			android:name=".TreebolicWordNetMessengerService"
			android:description="@string/description_service_messenger_bound_service"
			android:enabled="true"
			android:exported="true"
			android:icon="@mipmap/ic_launcher"
			android:label="@string/service_messenger_bound_service"
			android:permission="org.treebolic.wordnet.service.USE" />

	</application>

</manifest>
