<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ Copyright (c) Treebolic 2019. Bernard Bou <1313ou@gmail.com>
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          android:installLocation="auto"
          android:sharedUserId="org.treebolic.userId">

	<permission android:name="org.treebolic.owl.service.USE" android:protectionLevel="normal" android:label="Use service" />
	<uses-permission android:name="android.permission.ACCESS_DOWNLOAD_MANAGER"/>
	<uses-permission android:name="android.permission.INTERNET"/>
	<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
	<uses-permission android:name="android.permission.WAKE_LOCK"/>
	<uses-permission android:name="org.treebolic.owl.service.USE"/>

	<application
		android:allowBackup="true"
		android:fullBackupContent="@xml/backup_descriptor"
		android:icon="@mipmap/ic_launcher"
		android:label="@string/app_name"
		android:supportsRtl="true"
		android:theme="@style/MyTheme"
		tools:ignore="UnusedAttribute">

		<activity
			android:name=".MainActivity"
			android:exported="true"
			android:label="@string/app_name">
			<intent-filter>
				<action android:name="android.intent.action.MAIN"/>
				<category android:name="android.intent.category.LAUNCHER"/>
			</intent-filter>
		</activity>

		<activity
			android:name=".SettingsActivity"
			android:exported="false"
			android:label="@string/title_activity_settings"
			android:parentActivityName=".MainActivity"
			tools:targetApi="jelly_bean">
			<meta-data
				android:name="android.support.PARENT_ACTIVITY"
				android:value=".MainActivity"/>
		</activity>

		<activity
			android:name=".DownloadActivity"
			android:exported="false"
			android:label="@string/title_activity_download"
			android:parentActivityName=".MainActivity"
			tools:targetApi="jelly_bean">
			<meta-data
				android:name="android.support.PARENT_ACTIVITY"
				android:value=".MainActivity"/>
		</activity>

		<activity
			android:name="org.treebolic.filechooser.FileChooserActivity"
			android:exported="false"
			android:parentActivityName=".MainActivity"
			tools:targetApi="jelly_bean">
			<meta-data
				android:name="android.support.PARENT_ACTIVITY"
				android:value=".MainActivity"/>
		</activity>

		<activity
			android:name="com.bbou.others.OthersActivity"
			android:exported="false"
			android:parentActivityName=".MainActivity"
			tools:targetApi="jelly_bean">
			<meta-data
				android:name="android.support.PARENT_ACTIVITY"
				android:value=".MainActivity"/>
		</activity>

		<activity
			android:name="com.bbou.donate.DonateActivity"
			android:exported="false"
			android:parentActivityName=".MainActivity"
			tools:targetApi="jelly_bean">
			<meta-data
				android:name="android.support.PARENT_ACTIVITY"
				android:value=".MainActivity"/>
		</activity>

		<service
			android:name=".TreebolicOwlIntentService"
			android:description="@string/description_service_intent_service"
			android:enabled="true"
			android:exported="true"
			android:icon="@mipmap/ic_launcher"
			android:label="@string/service_intent_service"
			android:permission="android.permission.BIND_JOB_SERVICE"
			android:process="org.treebolic">
			<intent-filter>
				<action android:name="org.treebolic.service.action.MAKE_MODEL">
				</action>
			</intent-filter>
		</service>

		<service
			android:name=".TreebolicOwlAIDLBoundService"
			android:description="@string/description_service_aidl_bound_service"
			android:enabled="true"
			android:exported="true"
			android:icon="@mipmap/ic_launcher"
			android:label="@string/service_aidl_bound_service"
			android:permission="org.treebolic.owl.service.USE"
			android:process="org.treebolic"/>

		<service
			android:name=".TreebolicOwlMessengerService"
			android:description="@string/description_service_messenger_bound_service"
			android:enabled="true"
			android:exported="true"
			android:icon="@mipmap/ic_launcher"
			android:label="@string/service_messenger_bound_service"
			android:permission="org.treebolic.owl.service.USE"
			android:process="org.treebolic"/>

	</application>

</manifest>
